<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzh.generator.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.xzh.generator.pojo.User">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="client" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="photo" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="reality_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password_continuous_errors" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_password_error_locked" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="password_error_locked_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="pay_password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pay_password_continuous_errors" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_pay_password_error_locked" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="pay_password_error_locked_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="is_lock_withdraw" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="is_allow_login" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="lock_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="login_count" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="last_login_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="login_client" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="last_login_ip" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="last_logout_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_email_verified" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="mobile1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="mobile" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_mobile_verified" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="is_secret_set" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="secret_set_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="secret_question_id1" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="answer1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="secret_question_id2" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="answer2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="secret_question_id3" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="answer3" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="mobile2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="id_number" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="postcode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sex" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="birthday" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="city_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="family_address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="family_telephone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="company" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="company_address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="office_telephone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="fax_number" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="education_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="marital_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="house_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="car_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_add_base_info" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="is_erased" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="recommend_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="recommend_user_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="recommend_invite_user_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="recommend_reward_type" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="master_identity" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="master_client" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="master_time_loan" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="master_time_invest" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="master_time_complex" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="vip_status" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="balance" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="balance2" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="freeze" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="score" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="credit_score" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="credit_level_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_refused_receive" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="refused_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="refused_reason" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_blacklist" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="joined_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="joined_reason" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="assigned_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="assigned_to_supervisor_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="email2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="telephone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="credit_line" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="last_credit_line" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="is_active" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="sign1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sign2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="qq_key" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="weibo_key" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="qr_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ips_acct_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ips_bid_auth_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ips_repay_auth_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="device_user_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="channel_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="device_type" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="is_bill_push" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="is_invest_push" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="is_activity_push" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="open_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="qr_code_wechat" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="vir_amount" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="regionNum" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_czb_active" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="invest_type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_month_invest_active" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="is_bind_card" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="virtual_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="cust_type" javaType="java.lang.Byte" jdbcType="TINYINT" />
    </constructor>
  </resultMap>
</mapper>